.root {
  --verde-100: #71b877;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9; /* Cor de fundo suave */
    color: #333; /* Cor do texto principal */
}

/* Menu principal */
.menu-principal {
  background-color: #4cd964; /* verde claro */
  padding: 10px 20px;
}

.menu-principal ul {
  list-style: none;   /* remove marcadores */
  margin: 0;
  padding: 0;
  display: flex;      /* deixa os itens na horizontal */
  gap: 20px;          /* espaço entre os links */
}

.menu-principal a {
  text-decoration: none; /* tira o sublinhado */
  color: white;           /* cor dos links */
  font-weight: bold;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

.menu-principal a:hover {
  color: #333;            /* muda a cor ao passar o mouse */
}
